MONGODB_URI=mongodb://localhost:27017/journal_db7
#please start mongod bind first locally

# App Settings
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Heatmap Configuration
GITHUB_USERNAME=ur-username
LEETCODE_USERNAME=ur-username
GITHUB_TOKEN=your-personal-token-here-classic-one


#please copy all of this to a .env.local file
